<div class="portal-wrapper">
  <header class="navbar-3d">
    <div class="header-content">
      <div class="brand">
        <img src="/logo.png" alt="Intuito S.A." width="150" height="50">
      </div>
      <a href="#" class="btn-login-3d">Iniciar Sesión</a>
    </div>
  </header>

  <main class="portal-main">
    <div class="contenedor-documento">
      <div class="fila-unida border-b">
        <div class="factura-titulo-container">
          <h1 class="fuente-arial-black">Factura {{ facturaData.numero }}</h1>
          <span class="autorizado-vivid" [class.status-loading]="isLoading">
            {{ isLoading ? '⌛ Procesando' : '✔ ' + facturaData.estado }}
          </span>
        </div>
      </div>

      <div class="fila-unida border-b bg-gris-tenue fuente-datos">
        <p><strong class="arial-bold">Emisor:</strong> {{ facturaData.emisor.nombre }}</p>
        <p><strong class="arial-bold">Receptor:</strong> {{ facturaData.receptor.nombre }}</p>
      </div>

      <div class="visor-container">
        <div class="pdf-card">
          <iframe [src]="pdfUrl" class="pdf-frame" [style.display]="isLoading ? 'none' : 'block'"></iframe>
          <div *ngIf="isLoading" class="visor-loader-overlay">
            <div class="spinner"></div>
            <p class="arial-bold">Sincronizando Comprobante</p>
          </div>
        </div>
      </div>

      <div class="fila-unida banner-final-unido">
        <div class="grupo-izquierdo">
          <img src="/logo-inf.jfif" class="portal-logo framed" alt="logo">
          <p class="portal-text arial-bold">Accede al historial de tus comprobantes</p>
        </div>
        <a href="#" class="portal-btn">Acceder al Portal</a>
      </div>
    </div>
  </main>
</div>